<div class="top_bar">
  <!-- Logo -->
  <div class="logo">
    <!-- Logo img -->
    <figure class="logo__img">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4.79999 0H27.2L32 8V30.4C32 31.2837 31.2837 32 30.4 32H1.6C0.716344 32 0 31.2837 0 30.4V8L4.79999 0ZM2.79886 8H29.2011L25.8411 2.4H6.15888L2.79886 8ZM8 12.4C8.66272 12.4 9.2 12.9373 9.2 13.6C9.2 17.3555 12.2445 20.4 16 20.4C19.7555 20.4 22.8 17.3555 22.8 13.6C22.8 12.9373 23.3373 12.4 24 12.4C24.6627 12.4 25.2 12.9373 25.2 13.6C25.2 18.681 21.081 22.8 16 22.8C10.919 22.8 6.8 18.681 6.8 13.6C6.8 12.9373 7.33728 12.4 8 12.4Z"
          fill="#77DAE6"
        />
      </svg>
    </figure>
    <!-- Name Logo -->
    <span class="name_logo">grocerymart</span>
  </div>
  <!-- Navigation -->
  <nav class="navigation">
    <ul>
      <li class="navigation_item-1">
        <a class="nav__link" href="#!"
          >Departments
          <img class="arrow__img" src="../asset/img/arrow_.svg" alt="arrow" />
        </a>
        <!-- Extra list choice -->
        <div class="extra__list--choice-block">
          <!-- Item 1  -->
          <section class="extra__item--choice-block">
            <span class="extra__item--title">
              <figure class="extra__img--block">
                <img src="../asset/img/Ellipse.svg" alt="Ellipse" />
                <figure class="extra_img">
                  <img src="../asset/img/Category.svg" alt="Category" />
                </figure>
              </figure>
              <p class="extra__desc">All Departments</p>
            </span>
            <ul>
              <li class="extra__item">
                <a href="#!" class="extra__item--link"
                  >Savings & Featured Shops</a
                >
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Electronics</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link"
                  >Clothing, Shoes & Accessories</a
                >
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link"
                  >Home, Furniture & Appliances</a
                >
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Toys & Video Games</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Home Improvement</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Baby</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Household Essentials</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Personal Care</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Patio & Garden</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Sports & Outdoors</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Gift Cards</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link"
                  >Auto, Tires and Industrial</a
                >
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Movies, Music & Books</a>
              </li>
            </ul>
          </section>
          <section class="extra__item--group">
            <!-- Item 1  -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="../asset/img/Rectangle.svg" alt="Ellipse" />
                    <figure class="extra_img">
                      <img src="../asset/img/Game.svg" alt="Category" />
                    </figure>
                  </figure>
                  <p class="extra__desc">TV & Video</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop all TVs</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">TVs by Size</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Smart TVs</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Roku TVs</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Streaming</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >TV Mounts & Accessories</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >DVD & Blu-Ray Players</a
                    >
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="../asset/img/Star.svg" alt="Ellipse" />
                    <figure class="extra_img">
                      <img src="../asset/img/Game.svg" alt="Category" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Wearable Technology</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Galaxy Watch</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Apple Watch</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Fitness Trackers</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Virtual Reality</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Headphones</a>
                  </li>
                </ul>
              </div>
            </section>
            <!-- Item 2 -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="../asset/img/Polygon_.svg" alt="Polygon_" />
                    <figure class="extra_img">
                      <img src="../asset/img/monitor.svg" alt="monitor" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Computers</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All Computers</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Laptops</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">PC Gaming</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Monitors</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Chromebook</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Printers & Ink</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Shop all TVs</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Computer Accessories</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Desktops</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tax Software</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tax Software</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">PC Finder</a>
                  </li>
                </ul>
              </div>
            </section>
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="../asset/img/Ellipse_.svg" alt="Ellipse" />
                    <figure class="extra_img">
                      <img src="../asset/img/pocket.svg" alt="Category" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Savings</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tech Savings</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Overstock Savings</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tech Rollbacks</a>
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="../asset/img/Polygon.svg" alt="Polygon" />
                    <figure class="extra_img">
                      <img src="../asset/img/smartphone.svg" alt="smartphone" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Cell Phones</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Wireless Deals</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">5G Phones
                    </a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Prepaid Phones & Plans
                      s</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Refurbished Phones</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">iPhone Accessories</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Cases & Screen Protectors</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Walmart Protection Plan</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">iPhone Accessories</a>
                  </li>
                </ul>
              </div>
            </section>
          </section>
        </div>
      </li>
      <li>
        <a class="nav__link" href="#!"
          >Grocery
          <img class="arrow__img" src="../asset/img/arrow_.svg" alt="arrow" />
        </a>
      </li>
      <li>
        <a class="nav__link" href="#!"
          >Beauty
          <img class="arrow__img" src="../asset/img/arrow_.svg" alt="arrow" />
        </a>
      </li>
    </ul>
  </nav>
  <!-- User Login -->
  <div class="user__login">
    <figure class="search__main">
      <img src="../asset/img/Search.svg" alt="Search" />
    </figure>
    <!-- Card Group -->
    <div class="favorite__card">
      <!-- Love Block -->
      <div class="love">
        <figure class="love__img">
          <img src="../asset/img/Heart.svg" alt="Heart" />
        </figure>
        <span class="love__desc">03</span>
      </div>
      <!-- Card Block -->
      <div class="card">
        <figure class="card__img">
          <img src="../asset/img/Buy.svg" alt="Buy" />
        </figure>
        <span class="card__desc">$65.42</span>
      </div>
    </div>
    <!-- User Avatar -->
    <figure class="user__avatar">
      <img src="../asset/img/ui_user.png" alt="ui_user" />
    </figure>
  </div>
</div>
