<div class="action__list--navigation-block transFormStart">
  <button class="action__arrow">
    <img src="./asset/img/arrow-left.svg" alt="arrow-left" />
  </button>
  <!-- Block Card -->
  <article class="action__card--block">
    <div class="action__item--list-block">
      <figure class="icon action__card">
        <img src="./asset/img/Buy.svg" alt="Buy" />
      </figure>
      <p class="action__name--card">Card</p>
    </div>
    <span class="action__number--card">3</span>
  </article>
  <!-- Block Favorite -->
  <article class="action__favorite--block">
    <div class="action__item--list-block ">
      <figure class="icon action__favorite">
        <img src="./asset/img/Heart.svg" alt="Buy" />
      </figure>
      <p class="action__name--favorite">Favorite</p>
    </div>
    <span class="action__number--favorite">3</span>
  </article>
  <!-- Block Departments Group -->
  <div class="action__departments--group">
    <article class="action__departments--block">
      <!-- Departments -->
      <div class="action__item--list-block-departments">
        <p class="action__name--departments">Departments</p>
        <figure class="action__img-departments">
          <img src="./asset/img/arrow-right.svg" alt="arrow-down" />
        </figure>
      </div>

  <!-- Block Child Departments -->
  <div class="action__block--child">
    <!-- Block Saving & Feature Shops -->
    <article class="action__saving--block">
      <div class="action__item--list-block">
        <p class="action__name--saving">Savings & Featured Shops</p>
      </div>
    </article>
    <!-- Block Electronic -->
    <article class="action__electronic--block">
      <div class="action__electronic">
        <div class="action__item--list-block">
          <p class="action__name--electronic">Electronic</p>
        </div>
        <figure class="action__img-electronic">
          <img src="./asset/img/arrow-right.svg" alt="arrow-right" />
        </figure>
      </div>
       <!-- Item 1 -->
    <section class="extra__item--choice--mobile">
      <div class="extra__item--child--mobile">
        <span class="extra__item--title--mobile">
          <figure class="extra__img--block--mobile">
            <img src="./asset/img/Rectangle.svg" alt="Ellipse" />
            <figure class="extra_img">
              <img src="./asset/img/Game.svg" alt="Category" />
            </figure>
          </figure>
          <p class="extra__desc--mobile">TV & Video</p>
        </span>
        <ul>
          <li class="extra__item--mobile">
            <a href="#!" class="extra__item--link--mobile">Shop all TVs</a>
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile">TVs by Size</a>
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile">Smart TVs</a>
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile">Roku TVs</a>
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile">Streaming</a>
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile"
              >TV Mounts & Accessories</a
            >
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile"
              >DVD & Blu-Ray Players</a
            >
          </li>
        </ul>
      </div>
      <div class="extra__item--child--mobile">
        <span class="extra__item--title--mobile">
          <figure class="extra__img--block--mobile">
            <img src="./asset/img/Star.svg" alt="Ellipse" />
            <figure class="extra_img">
              <img src="./asset/img/Game.svg" alt="Category" />
            </figure>
          </figure>
          <p class="extra__desc--mobile">Wearable Technology</p>
        </span>
        <ul>
          <li class="extra__item--mobile">
            <a href="#!" class="extra__item--link--mobile">Galaxy Watch</a>
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile">Apple Watch</a>
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile"
              >Fitness Trackers</a
            >
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile">Virtual Reality</a>
          </li>
          <li class="extra__item">
            <a href="#!" class="extra__item--link--mobile">Headphones</a>
          </li>
        </ul>
      </div>
    </section>
     <!-- List Product List -->
     <ul class="list__product--mobile">
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item"
          >Clothing, Shoes & Accessories</a
        >
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item"
          >Home, Furniture & Appliances</a
        >
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Toys & Video Games</a>
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Home Improvement</a>
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Baby</a>
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Household Essentials</a>
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Personal Care</a>
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Patio & Garden</a>
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Sports & Outdoors</a>
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Gift Cards</a>
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item"
          >Auto, Tires and Industrial</a
        >
      </li>
      <li class="list__product--item-mobile">
        <a href="#1" class="link__product--item">Movies, Music & Books</a>
      </li>
    </ul>
    </article>
   
   
  </div>
    </article>
  </div>

  <!-- Block Grocery -->
  <article class="action__grocery--block">
    <div class="action__item--list-block">
      <p class="action__name--grocery">Grocery</p>
    </div>
    <figure class="action__img-grocery">
      <img src="./asset/img/arrow-right.svg" alt="arrow-right" />
    </figure>
  </article>
  <!-- Block Beauty -->
  <article class="action__beauty--block">
    <div class="action__item--list-block">
      <p class="action__name--beauty">Beauty</p>
    </div>
    <figure class="action__img-beauty">
      <img src="./asset/img/arrow-right.svg" alt="arrow-right" />
    </figure>
  </article>
</div>
<div class="over_lay disPlayNone"></div>
<div class="top_bar">
  <!-- List Navigation -->
  <div class="list__navigation">
    <figure class="list__navtigation--img">
      <img src="./asset/img/Document.svg" alt="Document" />
    </figure>
  </div>
  <!-- Logo -->
  <div class="logo">
    <!-- Logo img -->
    <figure class="logo__img">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4.79999 0H27.2L32 8V30.4C32 31.2837 31.2837 32 30.4 32H1.6C0.716344 32 0 31.2837 0 30.4V8L4.79999 0ZM2.79886 8H29.2011L25.8411 2.4H6.15888L2.79886 8ZM8 12.4C8.66272 12.4 9.2 12.9373 9.2 13.6C9.2 17.3555 12.2445 20.4 16 20.4C19.7555 20.4 22.8 17.3555 22.8 13.6C22.8 12.9373 23.3373 12.4 24 12.4C24.6627 12.4 25.2 12.9373 25.2 13.6C25.2 18.681 21.081 22.8 16 22.8C10.919 22.8 6.8 18.681 6.8 13.6C6.8 12.9373 7.33728 12.4 8 12.4Z"
          fill="#77DAE6"
        />
      </svg>
    </figure>
    <!-- Name Logo -->
    <span class="name_logo">grocerymart</span>
  </div>
  <!-- Navigation -->
  <nav class="navigation">
    <ul>
      <li class="navigation_item">
        <a class="nav__link" href="#!"
          >Departments
          <img
            class="icon arrow__img"
            src="./asset/img/arrow_.svg"
            alt="arrow"
          />
        </a>
        <!-- Extra list choice -->
        <div class="extra__list--choice-block">
          <!-- Item 1  -->
          <section class="extra__item--choice-block">
            <span class="extra__item--title">
              <figure class="extra__img--block">
                <img src="./asset/img/Ellipse.svg" alt="Ellipse" />
                <figure class="extra_img">
                  <img src="./asset/img/Category.svg" alt="Category" />
                </figure>
              </figure>
              <p class="extra__desc">All Departments</p>
            </span>
            <ul>
              <li class="extra__item">
                <a href="#!" class="extra__item--link"
                  >Savings & Featured Shops</a
                >
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Electronics</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link"
                  >Clothing, Shoes & Accessories</a
                >
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link"
                  >Home, Furniture & Appliances</a
                >
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Toys & Video Games</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Home Improvement</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Baby</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Household Essentials</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Personal Care</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Patio & Garden</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Sports & Outdoors</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Gift Cards</a>
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link"
                  >Auto, Tires and Industrial</a
                >
              </li>
              <li class="extra__item">
                <a href="#!" class="extra__item--link">Movies, Music & Books</a>
              </li>
            </ul>
          </section>
          <section class="extra__item--group">
            <!-- Item 1  -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Rectangle.svg" alt="Ellipse" />
                    <figure class="extra_img">
                      <img src="./asset/img/Game.svg" alt="Category" />
                    </figure>
                  </figure>
                  <p class="extra__desc">TV & Video</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop all TVs</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">TVs by Size</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Smart TVs</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Roku TVs</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Streaming</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >TV Mounts & Accessories</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >DVD & Blu-Ray Players</a
                    >
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Star.svg" alt="Ellipse" />
                    <figure class="extra_img">
                      <img src="./asset/img/Game.svg" alt="Category" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Wearable Technology</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Galaxy Watch</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Apple Watch</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Fitness Trackers</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Virtual Reality</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Headphones</a>
                  </li>
                </ul>
              </div>
            </section>
            <!-- Item 2 -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Polygon_.svg" alt="Polygon_" />
                    <figure class="extra_img">
                      <img src="./asset/img/monitor.svg" alt="monitor" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Computers</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Shop All Computers</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Laptops</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">PC Gaming</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Monitors</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Chromebook</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Printers & Ink</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop all TVs</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Computer Accessories</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Desktops</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tax Software</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tax Software</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">PC Finder</a>
                  </li>
                </ul>
              </div>
            </section>
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Ellipse_.svg" alt="Ellipse" />
                    <figure class="extra_img">
                      <img src="./asset/img/pocket.svg" alt="Category" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Savings</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tech Savings</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Overstock Savings</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tech Rollbacks</a>
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Polygon.svg" alt="Polygon" />
                    <figure class="extra_img">
                      <img src="./asset/img/smartphone.svg" alt="smartphone" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Cell Phones</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Wireless Deals</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">5G Phones </a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Prepaid Phones & Plans s</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Refurbished Phones</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >iPhone Accessories</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Cases & Screen Protectors</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Walmart Protection Plan</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >iPhone Accessories</a
                    >
                  </li>
                </ul>
              </div>
            </section>
          </section>
        </div>
      </li>
      <li class="navigation_item">
        <a class="nav__link" href="#!"
          >Grocery
          <img
            class="icon arrow__img"
            src="./asset/img/arrow_.svg"
            alt="arrow"
          />
        </a>
        <!-- Extra list choice -->
        <div class="extra__list--choice-block grocery">
          <section class="extra__item--group">
            <!-- Item 1  -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Rectangle.svg" alt="Ellipse" />
                    <figure class="extra_img">
                      <img src="./asset/img/Buy.svg" alt="Buy" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Grocery</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Grilling Foods</a>
                  </li>

                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Spring Flavors</a>
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img
                      src="./asset/img/Fresh_Produce.svg"
                      alt="Fresh Produce"
                    />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Fresh_Produce_logo.svg"
                        alt="Fresh Produce Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Fresh Produce</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Celebrate Salad Month</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Healthy Living</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Fresh Flowers</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Chilled Dressing</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Fresh Fruit</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Salad Kits & Bowls</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Organic Produce</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Fresh Vegetables</a>
                  </li>
                </ul>
              </div>
            </section>
            <!-- Item 2 -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img
                      src="./asset/img/Bakery_Bread.svg"
                      alt="Bakery & Bread"
                    />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Bakery_Bread_logo.svg"
                        alt="Bakery & Bread Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Bakery & Bread</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">New in Bakery</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Sliced Bread</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Rolls & Buns</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tortillas</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Breakfast Breads</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Pies</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Cookies & Brownies</a
                    >
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Frozen.svg" alt="Frozen" />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Frozen_Logo.svg"
                        alt="Frozen Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Frozen</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Frozen Breakfast</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Frozen Potatoes</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Frozen Meals & Snacks</a
                    >
                  </li>
                </ul>
              </div>
            </section>
            <!-- Item 3 -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Snacks.svg" alt="Snacks" />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Snacks_img.svg"
                        alt="Snacks Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Snacks</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Chips</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Popcorn & Pretzels</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Crackers</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Salsa & Dips</a>
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Candy.svg" alt="Candy" />
                    <figure class="extra_img">
                      <img src="./asset/img/Candy_logo.svg" alt="Candy Logo" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Candy</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"> Shop All</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Better for You</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Chocolate</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Sugar Free Candy</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Gum</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Mints</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">On-the-Go</a>
                  </li>
                </ul>
              </div>
            </section>
            <!-- Item 4 -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img
                      src="./asset/img/Cocktails_Mixes_Coffee.svg"
                      alt="Cocktails & Mixes Coffee"
                    />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Coffe.svg"
                        alt="Cocktails & Mixes Coffee Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Cocktails & Mixes Coffee</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Ground Coffee</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Whole Bean Coffee</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Coffee Pods</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Instant Coffee</a>
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Beverages.svg" alt="Beverages" />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Beverages_Logo.svg"
                        alt="Beverages Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Beverages</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Water</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Soft Drinks</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Fruit Juice</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Sports Drinks</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Energy Drinks</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tea</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Hot Chocolate & Cocoa</a
                    >
                  </li>
                </ul>
              </div>
            </section>
          </section>
        </div>
      </li>
      <li class="navigation_item">
        <a class="nav__link" href="#!"
          >Beauty
          <img
            class="icon arrow__img"
            src="./asset/img/arrow_.svg"
            alt="arrow"
          />
        </a>
        <!-- Extra list choice -->
        <div class="extra__list--choice-block beauty">
          <section class="extra__item--group">
            <!-- Item 1  -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Rectangle.svg" alt="Ellipse" />
                    <figure class="extra_img">
                      <img src="./asset/img/Buy.svg" alt="Buy" />
                    </figure>
                  </figure>
                  <p class="extra__desc">Featured Shops</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Pickup Today in Beauty</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">BeautySpaceNK</a>
                  </li>

                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Equate Beauty</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Beauty Deals</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Walmart Exclusives</a
                    >
                  </li>

                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Luxury Beauty Deals</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">New Arrivals</a>
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img
                      src="./asset/img/Trending_in_Beauty-name.svg"
                      alt="Trending in Beauty"
                    />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Trending_in_Beauty.svg"
                        alt="Trending in Beauty Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Trending in Beauty</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Trending Beauty Products</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Celebrate Earth Day</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Prom-ready Beauty</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Summer Beauty</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Travel Size & Minis</a
                    >
                  </li>
                </ul>
              </div>
            </section>
            <!-- Item 2 -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img
                      src="./asset/img/Featured_Brands_polygo.svg"
                      alt="Featured_Brands"
                    />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Featured_Brands.svg"
                        alt="Featured_Brands"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Featured Brands</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">New in Bakery</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Sliced Bread</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Rolls & Buns</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Tortillas</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Breakfast Breads</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Pies</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Cookies & Brownies</a
                    >
                  </li>
                </ul>
              </div>
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img
                      src="./asset/img/Communities_to_Support.svg"
                      alt="Communities to Support"
                    />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Communities_to_Support_logo.svg"
                        alt="Communities to Support Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Communities to Support</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Black Owned Beauty</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >LatinX Owned Beauty</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">AAPI Owned Beauty</a>
                  </li>
                </ul>
              </div>
            </section>
            <!-- Item 3 -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img
                      src="./asset/img/Premium_Beauty_Logo.svg"
                      alt="Premium_Beauty"
                    />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Premium_Beauty.svg"
                        alt="Premium_Beauty Logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Premium Beauty</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Hair Color</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Hair Care</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Skincare</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Fragrance</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Makeup</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Beauty Tech & Tools</a
                    >
                  </li>
                </ul>
              </div>
            </section>
            <!-- Item 4 -->
            <section class="extra__item--choice">
              <div class="extra__item--child">
                <span class="extra__item--title">
                  <figure class="extra__img--block">
                    <img src="./asset/img/Beauty.svg" alt="Beauty" />
                    <figure class="extra_img">
                      <img
                        src="./asset/img/Beauty_logo.svg"
                        alt="Beauty_logo"
                      />
                    </figure>
                  </figure>
                  <p class="extra__desc">Beauty</p>
                </span>
                <ul>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Shop All </a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Men's Grooming</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Bath & Body</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link"
                      >Beauty Tech & Tools</a
                    >
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Makeup</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Fragrance</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Nail Care</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Hair Care</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Hair Color</a>
                  </li>
                  <li class="extra__item">
                    <a href="#!" class="extra__item--link">Skincare</a>
                  </li>
                </ul>
              </div>
            </section>
          </section>
        </div>
      </li>
    </ul>
  </nav>
  <!-- User Login -->
  <div class="user__login">
    <figure class="search__main">
      <img class="icon" src="./asset/img/Search.svg" alt="Search" />
    </figure>
    <!-- Card Group -->
    <div class="favorite__card">
      <!-- Love Block -->
      <div class="love">
        <figure class="love__img">
          <img class="icon" src="./asset/img/Heart.svg" alt="Heart" />
        </figure>
        <span class="love__desc">03</span>
      </div>
      <!-- Card Block -->
      <div class="card">
        <figure class="icon" class="card__img">
          <img src="./asset/img/Buy.svg" alt="Buy" />
        </figure>
        <span class="card__desc">$65.42</span>
      </div>
    </div>
    <!-- User Avatar -->
    <figure class="user__avatar">
      <img src="./asset/img/ui_user.png" alt="ui_user" />
    </figure>
  </div>
  <!-- Button Turn On Dark Mode -->
  <div id="dark__mode">
    <figure class="moon__img">
      <img class="icon" src="./asset/img/moon.svg" alt="moon" />
    </figure>
  </div>
</div>
