@use "../abstracts";
.hero__main {
  padding-top: 40px;
  background-color: var(--background--all-, #eeeeee);
  transition: background-color 0.2s;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 455px;
  padding: 42px 70px;
  border-radius: 20px;
  background: var(--secondary-color, #77dae6);
  @include abstracts.breakpoint(sm) {
    height: 166px;
    padding: 20px;
  }
}
.hero__title {
  width: 386px;
  color: var(--secondary-color-background, #fff);
  /* Bold 42 */
  font-family: Gordita;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 142.857% */
  transition: color 0.2s;
  @include abstracts.breakpoint(sm) {
    width: 138px;
    color: var(--secondary-color-background, #fff);
    /* Bold 15 */
    font-family: Gordita;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 146.667% */
  }
}
.hero__content--product-bgr-main {
  position: relative;
  width: 522px;
  height: 335px;
  transform: translateY(80px);
  margin-right: -70px;
  img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  @include abstracts.breakpoint(sm) {
    width: 163px;
    height: 111px;
    transform: translateY(39px);
    margin-right: -20px;
  }
}
.hero__content--title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__list---choice {
  display: flex;
  align-items: center;
  .number,
  .number-2 {
    display: block;
    margin-right: 10px;
    color: var(--secondary-color-background, #fff);
    font-feature-settings: "clig" off, "liga" off;
    transition: color 0.2s;
    /* Medium 18 */
    font-family: Gordita;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    @include abstracts.breakpoint(sm) {
      color: var(--secondary-color-background, #fff);
      /* Medium 14 */
      font-family: Gordita;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
  }
  .number-2 {
    margin-left: 10px;
  }
  .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #77dae6;
  }
  .light {
    width: 184px;
    height: 4px;
    background: #fff;
    @include abstracts.breakpoint(sm) {
      width: 73px;
      height: 3px;
      flex-shrink: 0;
    }
  }
}
.hero__content--product-extra {
  position: absolute;
  z-index: 2;
  bottom: 79px;
  right: 75px;
  width: 121px;
  height: 162px;
  flex-shrink: 0;
  @include abstracts.breakpoint(sm) {
    width: 39px;
    height: 53px;
    bottom: 27px;
    right: 15px;
  }
  .background-product {
    width: 100%;
    height: 100%;
  }
}
.hero__content--product {
  position: absolute;
  bottom: 93px;
  right: 133px;
  width: 250px;
  height: 320px;
  flex-shrink: 0;
  @include abstracts.breakpoint(sm) {
    width: 84px;
    height: 107px;
    bottom: 31px;
    right: 34px;
  }
  .cafe-product-hero {
    width: 100%;
    height: 100%;
  }
}
