html {
  --secondary-color-secondary-1: #1A162E;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(8%)
    saturate(5428%) hue-rotate(212deg) brightness(94%) contrast(96%);
  --Background-3:#eee ; 
  --secondary-color-background:#fff ;
  --color-box-shadow :rgba(237, 237, 246, 0.2); 
  --hover-header-color:#333; 
  --item-color : #C1C1C1 ; 
}
