
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: Gordita, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
}
.icon {
  filter: var(--icon-color);
  transition: filter 0.2s;
}